        <select onchange="location = this.value;">
            <option value=" ">Filter by species</option>

            <option value="/agdb/species/#bigcat">big cat</a></option>
            <option value="/agdb/species/#bird">bird</a></option>
            <option value="/agdb/species/#cat">cat</a></option>
            <option value="/agdb/species/#deer">deer</a></option>
            <option value="/agdb/species/#dog">dog</a></option>
            <option value="/agdb/species/#fox">fox</a></option>
            <option value="/agdb/species/#multiple">multiple</a></option>
            <option value="/agdb/species/#other">other</a></option>
            <option value="/agdb/species/#rabbit">rabbit</a></option>
            <option value="/agdb/species/#reptile">reptile</a></option>
            <option value="/agdb/species/#rodent">rodent</a></option>
            <option value="/agdb/species/#wolf">wolf</a></option>

        </select>
<br><br>
        <select onchange="location = this.value;">
            <option value=" ">Filter by type</option>

            <option value="/agdb/type/#anthropomorphic">anthropomorphic</a></option>
            <option value="/agdb/type/#realistic">realistic</a></option>
            <option value="/agdb/type/#zoomorphic">zoomorphic</a></option>

        </select>
<br><br>
        <select onchange="location = this.value;">
            <option value=" ">Filter by genre</option>

            <option value="/agdb/genre/#action">action</a></option>
            <option value="/agdb/genre/#action-adventure">action-adventure</a></option>
            <option value="/agdb/genre/#fighting">fighting</a></option>
            <option value="/agdb/genre/#fps">fps</a></option>
            <option value="/agdb/genre/#mmo">mmo</a></option>
            <option value="/agdb/genre/#mmorpg">mmorpg</a></option>
            <option value="/agdb/genre/#party">party</a></option>
            <option value="/agdb/genre/#platformer">platformer</a></option>
            <option value="/agdb/genre/#puzzle">puzzle</a></option>
            <option value="/agdb/genre/#rpg">rpg</a></option>
            <option value="/agdb/genre/#sandbox">sandbox</a></option>
            <option value="/agdb/genre/#simulation">simulation</a></option>
            <option value="/agdb/genre/#social">social</a></option>
            <option value="/agdb/genre/#survival">survival</a></option>
            <option value="/agdb/genre/#tps">tps</a></option>
            
        </select>
<br><br>
        <select onchange="location = this.value;">
            <option value=" ">Filter by platform</option>

            <option value="/agdb/platform/#android">Android</a></option>
            <option value="/agdb/platform/#dreamcast">Dreamcast</a></option>
            <option value="/agdb/platform/#gamecube">GameCube</a></option>
            <option value="/agdb/platform/#ios">iOS</a></option>
            <option value="/agdb/platform/#iqueplayer">iQue Player</a></option>
            <option value="/agdb/platform/#linux">Linux</a></option>
            <option value="/agdb/platform/#macos">macOS</a></option>   
            <option value="/agdb/platform/#nintendo3ds">Nintendo 3DS</a></option>
            <option value="/agdb/platform/#nintendo64">Nintendo 64</a></option>
            <option value="/agdb/platform/#nintendods">Nintendo DS</a></option>
            <option value="/agdb/platform/#nintendoswitch">Nintendo Switch</a></option>
            <option value="/agdb/platform/#playstation1">PlayStation 1</a></option>
            <option value="/agdb/platform/#playstation2">PlayStation 2</a></option>
            <option value="/agdb/platform/#playstation3">PlayStation 3</a></option>
            <option value="/agdb/platform/#playstation4">PlayStation 4</a></option>
            <option value="/agdb/platform/#wii">Wii</a></option>
            <option value="/agdb/platform/#wiiu">Wii U</a></option>
            <option value="/agdb/platform/#windows">Windows</a></option>
            <option value="/agdb/platform/#xbox">Xbox</a></option>
            <option value="/agdb/platform/#xbox360">Xbox 360</a></option>
            <option value="/agdb/platform/#xboxone">Xbox One</a></option>
            
        </select>
