        <select onchange="location = this.value;">
            <option value=" ">Filter by species</option>

            <option value="/species/#bigcat">big cat</a></option>
            <option value="/species/#bird">bird</a></option>
            <option value="/species/#cat">cat</a></option>
            <option value="/species/#deer">deer</a></option>
            <option value="/species/#dog">dog</a></option>
            <option value="/species/#fox">fox</a></option>
            <option value="/species/#multiple">multiple</a></option>
            <option value="/species/#other">other</a></option>
            <option value="/species/#rabbit">rabbit</a></option>
            <option value="/species/#reptile">reptile</a></option>
            <option value="/species/#rodent">rodent</a></option>
            <option value="/species/#wolf">wolf</a></option>

        </select>
<br><br>
        <select onchange="location = this.value;">
            <option value=" ">Filter by type</option>

            <option value="/type/#anthropomorphic">anthropomorphic</a></option>
            <option value="/type/#realistic">realistic</a></option>
            <option value="/type/#zoomorphic">zoomorphic</a></option>

        </select>
<br><br>
        <select onchange="location = this.value;">
            <option value=" ">Filter by genre</option>

            <option value="/genre/#action">action</a></option>
            <option value="/genre/#action-adventure">action-adventure</a></option>
            <option value="/genre/#fighting">fighting</a></option>
            <option value="/genre/#fps">fps</a></option>
            <option value="/genre/#mmo">mmo</a></option>
            <option value="/genre/#mmorpg">mmorpg</a></option>
            <option value="/genre/#party">party</a></option>
            <option value="/genre/#platformer">platformer</a></option>
            <option value="/genre/#puzzle">puzzle</a></option>
            <option value="/genre/#rpg">rpg</a></option>
            <option value="/genre/#sandbox">sandbox</a></option>
            <option value="/genre/#simulation">simulation</a></option>
            <option value="/genre/#social">social</a></option>
            <option value="/genre/#survival">survival</a></option>
            <option value="/genre/#tps">tps</a></option>
            
        </select>
<br><br>
        <select onchange="location = this.value;">
            <option value=" ">Filter by platform</option>

            <option value="/platform/#android">Android</a></option>
            <option value="/platform/#dreamcast">Dreamcast</a></option>
            <option value="/platform/#gamecube">GameCube</a></option>
            <option value="/platform/#ios">iOS</a></option>
            <option value="/platform/#iqueplayer">iQue Player</a></option>
            <option value="/platform/#linux">Linux</a></option>
            <option value="/platform/#macos">macOS</a></option>   
            <option value="/platform/#nintendo3ds">Nintendo 3DS</a></option>
            <option value="/platform/#nintendo64">Nintendo 64</a></option>
            <option value="/platform/#nintendods">Nintendo DS</a></option>
            <option value="/platform/#nintendoswitch">Nintendo Switch</a></option>
            <option value="/platform/#playstation1">PlayStation 1</a></option>
            <option value="/platform/#playstation2">PlayStation 2</a></option>
            <option value="/platform/#playstation3">PlayStation 3</a></option>
            <option value="/platform/#playstation4">PlayStation 4</a></option>
            <option value="/platform/#wii">Wii</a></option>
            <option value="/platform/#wiiu">Wii U</a></option>
            <option value="/platform/#windows">Windows</a></option>
            <option value="/platform/#xbox">Xbox</a></option>
            <option value="/platform/#xbox360">Xbox 360</a></option>
            <option value="/platform/#xboxone">Xbox One</a></option>
            
        </select>