---
layout: default
title: By Platform | 
---

<h1>All Platforms</h1>

<h2 id="android">All Games on Android</h2>
{% for post in site.posts %}
{% for tags in post.platform %}
{% if tags == "Android" %}
{% include post_preview.html %}
{% endif %}
{% endfor %}
{% endfor %}

<h2 id="dreamcast">All Games on Dreamcast</h2>
{% for post in site.posts %}
{% for tags in post.platform %}
{% if tags == "Dreamcast" %}
{% include post_preview.html %}
{% endif %}
{% endfor %}
{% endfor %}

<h2 id="gamecube">All Games on GameCube</h2>
{% for post in site.posts %}
{% for tags in post.platform %}
{% if tags == "GameCube" %}
{% include post_preview.html %}
{% endif %}
{% endfor %}
{% endfor %}

<h2 id="ios">All Games on iOS</h2>
{% for post in site.posts %}
{% for tags in post.platform %}
{% if tags == "iOS" %}
{% include post_preview.html %}
{% endif %}
{% endfor %}
{% endfor %}

<h2 id="iqueplayer">All Games on iQue Player</h2>
{% for post in site.posts %}
{% for tags in post.platform %}
{% if tags == "iQue Player" %}
{% include post_preview.html %}
{% endif %}
{% endfor %}
{% endfor %}

<h2 id="linux">All Games on Linux</h2>
{% for post in site.posts %}
{% for tags in post.platform %}
{% if tags == "Linux" %}
{% include post_preview.html %}
{% endif %}
{% endfor %}
{% endfor %}

<h2 id="macos">All Games on macOS</h2>
{% for post in site.posts %}
{% for tags in post.platform %}
{% if tags == "macOS" %}
{% include post_preview.html %}
{% endif %}
{% endfor %}
{% endfor %}

<h2 id="nintendo3ds">All Games on Nintendo 3DS</h2>
{% for post in site.posts %}
{% for tags in post.platform %}
{% if tags == "Nintendo 3DS" %}
{% include post_preview.html %}
{% endif %}
{% endfor %}
{% endfor %}

<h2 id="nintendo64">All Games on Nintendo 64</h2>
{% for post in site.posts %}
{% for tags in post.platform %}
{% if tags == "Nintendo 64" %}
{% include post_preview.html %}
{% endif %}
{% endfor %}
{% endfor %}

<h2 id="nintendods">All Games on Nintendo DS</h2>
{% for post in site.posts %}
{% for tags in post.platform %}
{% if tags == "Nintendo DS" %}
{% include post_preview.html %}
{% endif %}
{% endfor %}
{% endfor %}

<h2 id="nintendoswitch">All Games on Nintendo Switch</h2>
{% for post in site.posts %}
{% for tags in post.platform %}
{% if tags == "Nintendo Switch" %}
{% include post_preview.html %}
{% endif %}
{% endfor %}
{% endfor %}

<h2 id="playstation1">All Games on PlayStation 1</h2>
{% for post in site.posts %}
{% for tags in post.platform %}
{% if tags == "PlayStation 1" %}
{% include post_preview.html %}
{% endif %}
{% endfor %}
{% endfor %}

<h2 id="playstation2">All Games on PlayStation 2</h2>
{% for post in site.posts %}
{% for tags in post.platform %}
{% if tags == "PlayStation 2" %}
{% include post_preview.html %}
{% endif %}
{% endfor %}
{% endfor %}

<h2 id="playstation3">All Games on PlayStation 3</h2>
{% for post in site.posts %}
{% for tags in post.platform %}
{% if tags == "PlayStation 3" %}
{% include post_preview.html %}
{% endif %}
{% endfor %}
{% endfor %}

<h2 id="playstation4">All Games on PlayStation 4</h2>
{% for post in site.posts %}
{% for tags in post.platform %}
{% if tags == "PlayStation 4" %}
{% include post_preview.html %}
{% endif %}
{% endfor %}
{% endfor %}

<h2 id="wii">All Games on Wii</h2>
{% for post in site.posts %}
{% for tags in post.platform %}
{% if tags == "Wii" %}
{% include post_preview.html %}
{% endif %}
{% endfor %}
{% endfor %}

<h2 id="wiiu">All Games on Wii U</h2>
{% for post in site.posts %}
{% for tags in post.platform %}
{% if tags == "Wii U" %}
{% include post_preview.html %}
{% endif %}
{% endfor %}
{% endfor %}

<h2 id="windows">All Games on Windows</h2>
{% for post in site.posts %}
{% for tags in post.platform %}
{% if tags == "Windows" %}
{% include post_preview.html %}
{% endif %}
{% endfor %}
{% endfor %}

<h2 id="xbox">All Games on Xbox</h2>
{% for post in site.posts %}
{% for tags in post.platform %}
{% if tags == "Xbox" %}
{% include post_preview.html %}
{% endif %}
{% endfor %}
{% endfor %}

<h2 id="xbox360">All Games on Xbox 360</h2>
{% for post in site.posts %}
{% for tags in post.platform %}
{% if tags == "Xbox 360" %}
{% include post_preview.html %}
{% endif %}
{% endfor %}
{% endfor %}

<h2 id="xboxone">All Games on Xbox One</h2>
{% for post in site.posts %}
{% for tags in post.platform %}
{% if tags == "Xbox One" %}
{% include post_preview.html %}
{% endif %}
{% endfor %}
{% endfor %}
